#main-dash{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 35px;
}

#weather{
    padding: 25px;
    height: 635px;
    border: solid #b6d1fd00;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    border-radius: 35px;
    background: #b6d1fd;
}

#action-divs{
    width: 50%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

#msg-div{
    height: 30%;
    width: 100%;
    border: 3px solid #5e7dd7;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    background: url(https://github.com/cyss0317/MERN-Project-PAQ/blob/main/frontend/src/css_images/sms_banner.jpeg?raw=true);
    background-size: 140% 125%;
    border-radius: 10px;
    background-position: -81px -16px;
}
#msg-div2{
    height: 30%;
    width: 100%;
    border: 3px solid #73dbff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    background: url(https://github.com/cyss0317/MERN-Project-PAQ/blob/main/frontend/src/css_images/air-cargo.jpeg?raw=true);
    background-size: 101% 137%;
    border-radius: 10px;
    background-position: -8px -23px;
}
#msg-div3{
    height: 30%;
    width: 100%;
    border: 3px solid #3da894;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    background: url(https://github.com/cyss0317/MERN-Project-PAQ/blob/main/frontend/src/css_images/contacting_info.jpeg?raw=true);
    background-size: contain;
    border-radius: 10px;
    background-position: 330px 0px;
    background-repeat: no-repeat;
}

#action-li{
    text-decoration: none;
    padding: 7px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    color: white;
    background: #617ad8;
    border: solid;
}
#action-li2{
    text-decoration: none;
    padding: 7px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    color: white;
    background: #41a9cd;
    border: solid;
    padding-left: 15px;
    padding-right: 15px;
}
#action-li3{
    text-decoration: none;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    color: #3da894;
    background: white;
    border: solid #3da894;
}
#action-li3:hover{
    text-decoration: none;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    color: white;
    background: #3da894;
    border: solid white;
    transition: 1s;
}

#inner-dash{
    display: flex;
    width: 90%;
    border: transparent solid;
    border-radius: 25px;
    padding: 22px;
    box-shadow: 1px 5px 20px 11px #0000003b;
}

#inner-li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    height: 70%;
    margin-left: 96px;
}

#inner-li2{
    border: solid transparent;
    width: 35%;
    height: 88%;
    margin-right: 38px;
    background: #73dbff;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#user-div1{
    height: 30%;
    width: 100%;
    border: 3px solid #c9edff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    background: url(https://github.com/cyss0317/MERN-Project-PAQ/blob/main/frontend/src/css_images/ship.jpeg?raw=true);
    background-size: 79% 120%;
    border-radius: 10px;
    background-position: 254px -32px;
    background-repeat: no-repeat;
    background-color: #c9edff;
}

#user-li1{
    text-decoration: none;
    padding: 7px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    color: white;
    background: #e9675f;
    border: solid;
}
#user-li1:hover{
    text-decoration: none;
    padding: 7px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    color: #e9675f;
    background: white;
    border: solid;
    transition: 1s;
}
#user-div2{
    height: 30%;
    width: 100%;
    border: 3px solid #92d7e7;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    background: url(https://github.com/cyss0317/MERN-Project-PAQ/blob/main/frontend/src/css_images/deliver.jpeg?raw=true);
    background-size: 101% 137%;
    border-radius: 10px;
    background-position: -145px -52px;
}

#user-li2{
    border: solid transparent;
    width: 35%;
    height: 88%;
    margin-right: 38px;
    background: #73dbff00;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#u-action-li2{
    text-decoration: none;
    padding: 7px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    color: white;
    background: #6aaebf;
    border: solid;
    padding-left: 15px;
    padding-right: 15px;  
}
#u-action-li2:hover{
    text-decoration: none;
    padding: 7px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    color: #6aaebf;
    background: white;
    border: solid;
    padding-left: 15px;
    padding-right: 15px;  
    transition: 1s;
}

#welcome-div{
    margin-left: 4%;
    border: solid;
    padding: 0px;
    border-radius: 25px;
    width: 460px;
    text-align: center;
}

#packages-user-history{
    display: flex;
    /* border: solid; */
    border-radius: 3px;
    justify-content: space-around;
}

#pd-div{
    border: solid;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    text-align: center;
}