#edit-container{
    display: flex;
    flex-direction: row;
    align-items: center;

}
#edit-container a {
    width: 130px;
    text-align: center;
}
/* #not-delivered-info-container */

#edit-container input{
    padding: 0;
    margin: 0;
    border: 0;
    margin-right: 2px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 15px;
    background-color: #22222210;
}

#edit-container{
    font-size: 17px;
}

#create-shipment {
    display: none;
}



#info-container{

    display: flex;
    flex-direction: row;
    align-items: center;

}

#not-delivered-id, #delivered-id{
    width: 200px;
}

#delivered, #not-delivered {
    width: 130px;
    text-align: center;

}
#not-delivered-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;

}



#main-container{
    margin: 8px 36px 8px 36px;
}
/* #not-delivered-info-container{
     margin-left: 15px;
} */


/* #table-columns-container{
    display: flex;
    flex-direction: column;

} */
#table-columns p{
    text-align: center;
}

#table-columns{
    display: flex;
    flex-direction: row;

}
#p{
    width: 130px;
}

#p1{
    width: 200px;
}

#expand-button:focus{
    outline: 0 !important;
}
#create-form label{
    margin-right: 20px;
}

#create-form{
    display: flex;
    padding: 15px;

}
.all-buttons:hover{
    cursor: pointer;
    background-color: #22222210;
    transform: scale(1.1);
    transition: .1s;
}
#all-buttons:active{
    transform: scale(0.8);
    transition:.1s
}


